# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# PyTorch / ML artifacts
*.pth
*.pt
*.npy
*.onnx

# Streamlit / app specific
*.log
*.db

# Data (agar sensitive ya large files hain)
data/wesad_processed/
data/deap/data_preprocessed_python/
data/audio_stimuli_MIDI/
data/audio_stimuli_MIDI_tempo24/

# IDE / OS specific
.vscode/
.DS_Store
*.swp
*.swo